/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 8
 *
 * Global CSS.
 */

/* allow map to fill viewport */
html, body, #map-canvas, .container-fluid
{
    /* height of these elements */
    height: 100%;

    /* no margin around these elements */
    margin: 0;

    /* disable scrollbars */
    overflow: hidden;

    /* no padding within these elements */
    padding: 0;
}

* {
  box-sizing: border-box;
}

/* align form to right of pan control */
#form
{
    /* distance from left edge of viewport */
    left: 100px;

    /* position form "absolutely" where we want it */
    position: absolute;

    /* distance from top edge of viewport */
    top: 28px;
}

/* stylize text box */
#q
{
    /* override typeahead.js's transparent background */
    background-color: #eafeea !important;

    /* Search icon in the search box */
    background-image:url(../img/search.jpg); 
    background-repeat: no-repeat; 
    background-position: 5px 6px;
    
    /* text box's width */
    width: 300px;
    padding-left: 20px;
}

/* stylize places' labels */
.label
{
    /* small, black text */
    color: #000000;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;

    /* don't let places' labels wrap onto multiple lines */
    white-space: nowrap;
}

/* stylize info window */
#info
{
    /* no margin around this element */
    margin: 0;

    /* should be at least this width */
    min-width: 100px;

    /* allow scrollbars as needed */
    overflow: auto;
    
    font-family: 'Open Sans Condensed', sans-serif;
	  padding: 10px;
  	background-color: #ffffe5;
	  color: white;
	  border-radius: 2px 2px 0 0;
}
#info ul
{
    margin-bottom: 0;
    font-size: 14px;
}

#info ul li {
    color: orange;
 /*   list-style: none;*/
}
#info ul a {
    text-decoration: none;
    color: #ff88aa;
}
#info ul a:visited {
    color: #ccaaff;
}
#info ul a:hover {
    color: #dd0000;
}
 
/* styles for li underline */  
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
}

a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.30em;
}
a.after:after{
  bottom:-0.30em;
}
a.before:before,a.after:after{
  height:2px;
  width:0;
  background: #dd0000;
}

a:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

a.before:hover:before,a.after:hover:after{
  width:100%;
}

/* stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-dropdown-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    /*min-height: 50px;
    background-image: url("/img/ajax-loader.gif");*/
    overflow-y: auto;
    padding: 6px 12px;
    width: 300px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion p {
    margin: 0;
}



/* LightBox for News */
/* https://www.w3schools.com/howto/howto_js_lightbox.asp */

/* The Modal (background) */
#myModal {
  display: none;
  position: absolute;
  overflow: auto;
}

/* Modal Content */
#modal-content {
  position: relative;
  /*background-color: #fe0000;*/
  background-color: 	#f3fafd;
  margin: auto;
  padding: 0;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 800px;
  margin-left: -400px;
  margin-top: -300px;
}

.modalHeader {
  position: relative;
  /*background-color: blue;*/
  width: 100%;
}

#modalHeading {
  vertical-align: middle;
  text-align: left;
  padding-left: 10%;
  font-style: italic;
  color: #9370DB;
}

.left {
  float: left;
}

.right {
  float: right;
}

.slides {
  float: none;
  /*background-color: yellow;*/
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 400px;
}

.storyTitle {
    text-align: center;
    color: green;
    margin: 10px;
    /*margin-left: 10%;*/
    width: 100%;
    height: 100px;
}

#storyImg {
    /*float: left;*/
    margin: 0;
    width: 30%;
    height: 80%;
    vertical-align: middle;

    /*margin: auto;*/
    
}

/*#storyImg img {
  width: 100%;
}*/

.story {
  margin: 0;
    width: 70%;
    height: 80%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    float: right;
    text-align: center;
    vertical-align: middle;
    color: #45b3e0;
    
}

/* https://fatpony.me/fancy-css-borders-images-border-radius/ */
div.gradient {
	border-radius: 999em;
	width: 100%;
	height: auto;
	padding: 15px;
	line-height: 0;
}
.gradient img {
	border-radius: 999em;
	width: 100%;
	height: 100%;
	margin: 0;
	background: #b3dced; /* Old Browsers */
	background: -moz-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6+ */
	background: -webkit-gradient(left top, right top, color-stop(0%, #b3dced), color-stop(50%, #29b8e5), color-stop(100%, #bce0ee)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* IE 10+ */
	background: linear-gradient(to right, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 ); /* IE6-9 */
}

/* The Close Button */
.close {
  color: blue;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #dd0000;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  z-index: 150;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  vertical-align: middle;
  color: #87ceeb;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #151B54;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #9370DB;
  font-size: 12px;
  float: left;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}